body {
  background-color: rgb(45, 45, 45);
  overflow-x: hidden;
}

.car-image img {
  padding-top: 20px;
  width: 50%; /* ou une valeur spécifique en pixels, en pourcentage, ou en d'autres unités */
  height: auto; /* ceci assure que l'image conserve son ratio hauteur/largeur */
  max-width:80%; /* optionnel: assure que l'image ne dépasse pas la largeur de son conteneur */
  display: block; /* assure que l'image est affichée comme un bloc pour gérer la marge automatique */
  margin: auto; /* centre l'image horizontalement */
}

.recherche{
  font-size: 40px;
  margin-left: 500px;
  margin-right: 500px;
}
.bodyPièceMoteur {
background-color: white;
}

.responsive{
width: 100%;
}
/* Categories Acceuil */
.tabParts{
margin-top: 100px;
margin-left: 150px;
}
h2 {
text-align: center;
}
.listnavsubcat{
font-family:sans-serif;
border-radius: 30px;
text-align: center;
background-color: rgba(255, 255, 255, 0.562);
width: 300px;
height: 230px;
}

.listnavsubcat hr {
border:1px solid rgb(0, 0, 0);
}

.listnavsubcat h2 > a{
text-decoration: none;
color: black;
}


#carouselExampleControls
{
resize: none;
  margin: 100px 600px ;
}

#glow{
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 8px #9ecaed;
}

#textRecherche {
font-size: 32px;
text-align: center;
}



/*FOOTER*/


.footer-dark {
  padding:50px 0;
  color:#f0f9ff;
  background-color:rgb(32, 32, 32);
}

.footer-dark h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-dark ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-dark ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.6;
}

.footer-dark ul a:hover {
  opacity:0.8;
}

@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align:center;
    padding-bottom:20px;
  }
}

.footer-dark .item.text {
  margin-bottom:36px;
}

@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom:0;
  }
}

.footer-dark .item.text p {
  opacity:0.6;
  margin-bottom:0;
}

.footer-dark .item.social {
  text-align:center;
}

@media (max-width:991px) {
  .footer-dark .item.social {
    text-align:center;
    margin-top:20px;
  }
}

.footer-dark .item.social > a {
  font-size:20px;
  width:36px;
  height:36px;
  line-height:36px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  box-shadow:0 0 0 1px rgba(255,255,255,0.4);
  margin:0 8px;
  color:#fff;
  opacity:0.75;
}

.footer-dark .item.social > a:hover {
  opacity:0.9;
}

.footer-dark .copyright {
  text-align:center;
  padding-top:24px;
  opacity:0.3;
  font-size:13px;
  margin-bottom:0;
}

.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.socials li{
  margin: 0 10px;
}

.socials a{
  text-decoration: none;
}

.socials a i{
  font-size: 1.1rem;

}

@import url(https://epicbootstrap.com/snippets/footer-dark);




/* THUMBNAIL */


/* Background color classes */
.interface {
margin-left: 100px;
}
.bg-white {
background-color: #ffffff !important;
}
.bg-grey {
background-color: #eeeeee !important;
}
.bg-black {
background-color: #555555 !important;
}
.bg-red {
background-color: #f75353 !important;
}
.bg-green {
background-color: #51d466 !important;
}
.bg-lblue {
background-color: #32c8de !important;
}
.bg-blue {
background-color: #609cec !important;
}
.bg-orange {
background-color: #f78153 !important;
}
.bg-yellow {
background-color: #fcd419 !important;
}
.bg-purple {
background-color: #cb79e6 !important;
}
.bg-rose {
background-color: #ff61e7 !important;
}
.bg-brown {
background-color: #d08166 !important;
}

/* Button classes */
.btn {
  border-radius: 2px;
position: relative;
}
.btn.btn-no-border {
border: 0px !important;
}
/* Button colors */
.btn.btn-white {
background: #ffffff;
color: #666666;
border: 1px solid #dddddd;
}
.btn.btn-white:hover,
.btn.btn-white:focus,
.btn.btn-white.active,
.btn.btn-white:active {
background: #f7f7f7;
color: #666666;
}
.btn.btn-grey {
background: #eeeeee;
color: #666666;
border: 1px solid #d5d5d5;
}
.btn.btn-grey:hover,
.btn.btn-grey:focus,
.btn.btn-grey.active,
.btn.btn-grey:active {
background: #d5d5d5;
color: #999;
}
.btn.btn-black {
color: #ffffff;
background: #666666;
border: 1px solid #4d4d4d;
}
.btn.btn-black:hover,
.btn.btn-black:focus,
.btn.btn-black.active,
.btn.btn-black:active {
background: #4d4d4d;
color: #ffffff;
}
.btn.btn-red {
color: #ffffff;
background: #ed5441;
border: 1px solid #e52d16;
}
.btn.btn-red:hover,
.btn.btn-red:focus,
.btn.btn-red.active,
.btn.btn-red:active {
color: #ffffff;
background: #e52d16;
}
.btn.btn-green {
color: #ffffff;
background: #51d466;
border: 1px solid #30c247;
}
.btn.btn-green:hover,
.btn.btn-green:focus,
.btn.btn-green.active,
.btn.btn-green:active {
background: #30c247;
color: #ffffff;
}
.btn.btn-lblue {
color: #ffffff;
background: #32c8de;
border: 1px solid #1faabe;
}
.btn.btn-lblue:hover,
.btn.btn-lblue:focus,
.btn.btn-lblue.active,
.btn.btn-lblue:active {
background: #1faabe;
color: #ffffff;
}
.btn.btn-blue {
color: #ffffff;
background: #609cec;
border: 1px solid #3280e7;
}
.btn.btn-blue:hover,
.btn.btn-blue:focus,
.btn.btn-blue.active,
.btn.btn-blue:active {
background: #3280e7;
color: #ffffff;
}
.btn.btn-orange {
color: #ffffff;
background: #f8a841;
border: 1px solid #f69110;
}
.btn.btn-orange:hover,
.btn.btn-orange:focus,
.btn.btn-orange.active,
.btn.btn-orange:active {
background: #f69110;
color: #ffffff;
}
.btn.btn-yellow {
background: #fcd419;
color: #ffffff;
border: 1px solid #dfb803;
}
.btn.btn-yellow:hover,
.btn.btn-yellow:focus,
.btn.btn-yellow.active,
.btn.btn-yellow:active {
background: #dfb803;
color: #ffffff;
}
.btn.btn-purple {
background: #cb79e6;
color: #ffffff;
border: 1px solid #ba4ede;
}
.btn.btn-purple:hover,
.btn.btn-purple:focus,
.btn.btn-purple.active,
.btn.btn-purple:active {
background: #ba4ede;
color: #ffffff;
}
.btn.btn-rose {
background: #ff61e7;
color: #ffffff;
border: 1px solid #ff2edf;
}
.btn.btn-rose:hover,
.btn.btn-rose:focus,
.btn.btn-rose.active,
.btn.btn-rose:active {
background: #ff2edf;
color: #ffffff;
}
.btn.btn-brown {
background: #d08166;
color: #ffffff;
border: 1px solid #c4613f;
}
.btn.btn-brown:hover,
.btn.btn-brown:focus,
.btn.btn-brown.active,
.btn.btn-brown:active {
background: #c4613f;
color: #ffffff;
}

.shop-items{
max-width:1150px;
margin:10px auto;
padding:0px 20px;
}
.shop-items .item {
position: relative;
max-width: 360px;
margin: 15px auto;
padding: 5px;
text-align: center;
border-radius: 4px;
overflow: hidden;
border:2px solid #eee;
}
.shop-items .item:hover{	
border:2px solid #32c8de;
}
.shop-items .item img {
width: 100%;
max-width: 360px;
margin: 0 auto;
border: 1px solid #eee;
border-radius: 3px;
}
.shop-items .item  .item-dtls h4 {
margin-top: 13px;
margin-bottom: 10px;
text-transform: uppercase;
}
.shop-items .item  .item-dtls .price {
display: block;
margin-bottom: 13px;
font-size: 25px;
}
.shop-items .item  .ecom {
position: absolute;
top: 100%;
left: 0;
width: 100%;
padding-bottom:10px;
padding-top: 10px;
-webkit-transition: all 0.35s ease-in;
-moz-transition: all 0.35s ease-in;
-ms-transition: all 0.35s ease-in;
-o-transition: all 0.35s ease-in;
transition: all 0.35s ease-in;
}
.shop-items .item:hover  .ecom { 
margin-top: -50px; 
}
.shop-items .item  .ecom  a.btn{
border:1px solid #fff;
color:#fff;
background:transparent;
-webkit-transition: all 0.35s ease-in;
-moz-transition: all 0.35s ease-in;
-ms-transition: all 0.35s ease-in;
-o-transition: all 0.35s ease-in;
transition: all 0.35s ease-in;
}
.shop-items .item  .ecom  a.btn:hover{
background:#fff;
color:#777;
}                